* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
        margin: 70px;
        padding: auto;
        border: 2px solid black;
}

#post {
    margin: 50px;
    padding: 40px;
}

#post p {
    margin-top: 40px;
}

#header {
    background-color: brown;
    text-align: center;
    color: black;
    box-shadow: 0px 5px 30px 0px black;
}

body {
    color: black;
    font-family:'Times New Roman', Times, serif;
}


