* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
        margin: 70px;
        padding: auto;
        border: 2px solid black;
}

#post {
    margin: 50px;
    padding: 40px;
}

body {

    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}


